@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");

* {
    font-family: "Mulish", sans-serif;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

/*! VARIABLES STORED HERE  */

:root {
    --primary-color: #ff5400;
    --secondary-color: #131318;
    --third-color: rgba(19, 19, 24, 0.7);
}

::selection {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.btn {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
    padding: 12px 30px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

.medium_header {
    color: var(--secondary-color);
    font-size: 3.2rem;
    font-weight: 800;
}

.paragraph_description {
    color: var(--third-color);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 22px;
}

.vessel {
    max-width: 1170px;
    margin: 30px auto;
}

.header_btn {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 0px 23px;
    border-radius: 9px;
}

/*! Header> NAV  */
header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li:nth-child(1),
li:nth-child(2),
li:nth-child(3),
li:nth-child(4) {
    margin-right: 40px;
}

nav ul li:nth-child(1) {
    color: var(--primary-color);
}

header>nav ul li {
    color: #424247;
    font-size: 1.4rem;
    cursor: pointer;
}

header>nav ul p {
    display: none;
}

header nav h2 {
    color: #131318;
    font-size: 3rem;
    display: flex;
}

header nav h2 img {
    width: 4rem;
    margin-right: 10px;
}

/*! HEADER */
.header_container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    color: #fff;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(assets/Group\ 13\ \(1\)\ \(1\).png);
}

.header_content {
    max-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header_content h1 {
    font-size: 6rem;
    font-weight: 800;
}

.header_content p {
    padding: 19px 0px;
}

.button_content {
    display: flex;
    gap: 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.35);
    padding: 16px;
}

.button_content button {
    width: 150px;
    height: 45px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.button_content button p {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1.5rem;
    font-weight: 400;
}

/*! OUR POPULAR TOURS  */
.popular_tours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    /* gap: 20px; */

}

.popular_tours div:first-child {
    max-width: 500px;
}

.popular_tours div:first-child * {
    padding-bottom: 10px;
}

.popular_tours div:first-child ul {
    margin-left: 40px;
}

.popular_tours div:first-child button {
    margin-top: 20px;
}

/*! DESTINATION  */
.destination h1 {
    text-align: center;
    margin-top: 67px;
}

.destination P {
    text-align: center;
    max-width: 600px;
    margin: 15px auto 60px;
}

.destination_image_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.destination_image_container div {
    position: relative;
}

.destination_image_container div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
}

/*! WHY CHOOSE US  */
.why_chose_us {
    margin-top: 80px;
}

.why_chose_us h1 {
    text-align: center;
}

.why_chose_us p {
    max-width: 620px;
    margin: 10px auto;
    text-align: center;
}

.location {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.location div {
    max-width: 523px;
    height: 284px;
    /* padding: 40px; */
}

#location-1 {

    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#location-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#location-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.location img,
.location h5,
.location p {
    padding-left: 40px;
    padding-right: 40px;

}

.location img {
    width: 64px;
    height: 64px;
    padding-top: 40px;
}

.location h5 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    margin: 10px auto;
}

.location p {
    color: #5A5A5D;
    line-height: 2.5rem;
}

.deals_and_discouts>h1 {
    text-align: center;
    margin-top: 70px;
}

.deals_and_discouts>p {
    text-align: center;
    max-width: 620px;
    margin: 10px auto;
}

/*! DEALS AND DISCOUNTS  */
.deals_and_discouts>p {
    margin-bottom: 40px;
}

.busk_inthe_sun {
    width: 1170px;
    height: 500px;
    margin: auto;
    background-image: url(assets/Group\ 39.png);
    position: relative;
}

.sunshine_details {
    width: 570px;
    height: 370px;
    margin: auto;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    right: 5%;
    top: 13%;
}

.sunshine_details div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 30px 30px 12px 22px;
    font-size: 1.4rem;
}

.deals_calender div p {
    padding-left: 7px;
}

.sunshine_details h3 {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
    padding: 0px 0px 10px 40px;
}

.sunshine_details .ssm {
    padding: 0px 50px 10px 40px;
}

.sunshine_details h4 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 800;
    padding: 0px 0px 10px 40px;
}

.sunshine_details .book {
    margin: 0px 0px 10px 40px;

}

.bits2 {
    background-image: url(assets/Group\ 40.png);
    margin: 30px 0px;
    /* display: none; */
}

.sd_one {
    position: absolute;
    left: -35%;
    top: 13%;
}

.salp {
    text-align: center;
    max-width: 170px;
    margin: 50px auto;
}

/*! NEWSLETTER  */

/* dont mind class name in this section, i mistakenly give name from other section  */

.a_perfect_place {
    display: flex;
    gap: 20px;
}

.leftside_perfect {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.perfect_content {
    padding: 60px 40px 0px 40px;
}

.perfect_content h4 {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}

.perfect_content p {
    padding: 15px 0px 30px;
}

.rightside_img_perfect {
    max-width: 660px;
    position: relative;
}

.rightside_img_perfect img {
    /* width: 100%; */
    z-index: 0;
}

.rightside_img_perfect button {
    position: absolute;
    transform: rotate(-30deg);
    right: -20px;
    bottom: 11%;
}

.perfect_content input {
    width: 373px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-bottom: 13px;
}

.perfect_content input[type="text"] {
    padding-left: 20px;
}

.perfect_content button {
    width: 100%;
    margin-top: 20px;
}

.a_perfect_place {
    margin: 80px auto;
}

/*! GET LOST  */
.get_lost {
    display: flex;
    justify-content: space-between;
}

.leftside_get_lost {
    max-width: 510px;
}

.leftside_get_lost h1 {
    max-width: 440px;
    font-size: 3.6rem;
    margin-bottom: 20px;
}

.leftside_get_lost ul {
    /* margin-left: 15px; */
    margin: 20px 0px 30px 15px;
}

.leftside_get_lost ul li {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26px;
}

.rightside_get_lost {
    max-width: 610px;
    height: 424px;
    position: relative;
}

.rightside_get_lost img {
    width: 100%;
    height: 100%;
}

.rightside_get_lost p {
    max-width: 276px;
    color: #FFF;

    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*! FOOOTER  */
footer {
    max-width: 1440px;
    height: 502px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
}

footer>h2 {
    color: #131318;
    font-size: 3rem;
    display: flex;
}

footer>h2 img {
    width: 4rem;
    margin-right: 10px;
}

footer>p {
    max-width: 750px;
    color: #5A5A5D;

    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 0px;
}

hr {
    width: 750px;
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 40px 0px;
}

.icons {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

/*! CLIENT  */

.client {
    margin: 70px auto;
}

.client__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.client__card {
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
    border-radius: 10px;
}

.client__card img {
    max-width: 70px;
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
}

.client__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.client__card p {
    color: var(--text-light);
}

.client__card span {
    font-size: 3rem;
    color: var(--text-light);
}

.section__header {
    max-width: 400px;
}

.section__subheader {
    font-size: 2rem;
    margin-bottom: 10px;
}

.client_store {
    padding: 20px;
}


/*? Mobile Divice  */

@media screen and (max-width: 600px) {
    html {
        font-size: 45%;
    }

    header>nav ul li {
        display: none;
    }

    header>nav ul p {
        display: block;
        font-size: 15px;
    }

    header>nav {
        padding: 0px 20px;
    }

    .button_content {
        flex-direction: column;
    }

    .header_container {
        width: 90%;
        margin: auto;
        background-position: center;
        margin-top: 40px;
    }

    .header_content h1 {
        font-size: 22px;
    }

    .header_content p {
        width: 280px;
        margin: auto;
    }

    .button_content button {
        width: 170px;
        height: 40px;
    }

    .popular_tours {
        flex-direction: column;
    }

    .popular_tours div:first-child {
        max-width: 335;
        padding: 0px 20px 30px;
    }

    .popular_tours div:last-child {
        width: 90%;
    }

    .popular_tours div img {
        width: 100%;
    }

    .popular_tours div:first-child ul {
        margin-left: 25px;
    }

    .destination p {
        padding: 0px 40px;
    }

    .destination_image_container div {

        margin: 0px auto;

    }

    .destination_image_container img {
        /* width: 100%; */
        width: 350px;
        height: 176px;
    }

    .why_chose_us p {
        padding: 0px 40px;
    }

    .location {
        padding: 0px 30px;
    }

    .location div p {
        text-align: start;
    }

    .deals_and_discouts>p {
        max-width: 100%;
    }

    .busk_inthe_sun {
        width: 90%;
        margin: 20px auto;
    }

    .sunshine_details {
        width: 80%;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sunshine_details div {
        padding: 10px;
    }

    .deals_calender {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .sunshine_details {
        width: 303px;
        height: 297px;
    }

    .sunshine_details .ssm {
        color: #5A5A5D;
    }

    .sunshine_details .ssm,
    .sunshine_details h3,
    .sunshine_details h4 {
        padding-left: 15px;
    }

    .sunshine_details .book {
        margin-left: 15px;
    }

    .salp {
        display: none;
    }

    .busk_inthe_sun {
        background-position: center;
        border-radius: 10px;
    }

    .a_perfect_place {
        flex-direction: column;
    }

    .rightside_img_perfect {
        width: 90%;
    }

    .rightside_img_perfect img {
        width: 90%;
        margin: auto;
    }

    .perfect_content {
        width: 90%;
        padding: 10px;
    }

    .leftside_perfect {
        width: 90%;
        height: 350px;
        margin: auto;
    }

    .rightside_img_perfect {
        width: 90%;
        margin: auto;
    }

    .rightside_img_perfect img {
        width: 100%;
        height: 300px;

    }

    .perfect_content input {
        width: 80%;
    }

    .perfect_content button {
        width: 86%;
        margin-top: 20px;
    }

    .rightside_img_perfect button {
        position: absolute;
        transform: rotate(-30deg);
        right: -0px;
        bottom: 15%;
    }

    .get_lost {
        flex-direction: column;
    }

    .leftside_get_lost {
        width: 335px;
        margin: auto;
        margin-bottom: 20px;
    }

    .rightside_get_lost {
        height: 220px;
        width: 90%;
        margin: auto;
    }

    .rightside_get_lost img {
        width: 100%;
        margin: 0px auto;
        height: 100%;
    }

    .rightside_get_lost p {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    hr {
        width: 320px;
        margin: 20px 0px;
    }

    .client__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .client__card {
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }

    .section__subheader {
        text-align: center;
    }

    .section__header {
        text-align: center;
        margin: auto;
    }

}

/*? Laptop or Pc Divice  */

@media screen and (min-width: 990px) and (max-width:1220px) {
    html {
        font-size: 47%;
    }

    header>nav {
        padding: 0px 5%;
    }

    .header_container {
        width: 90%;
        margin: auto;
        background-position: center;
        margin-top: 40px;
    }

    .popular_tours div:first-child {
        max-width: 400px;
    }

    .popular_tours div:last-child {
        width: 40%;
    }

    .popular_tours div img {
        width: 100%;
    }

    .popular_tours {
        justify-content: center;
        gap: 40px;
    }

    .destination_image_container div {
        margin: 0px auto;
        width: 46%;
    }

    .destination_image_container img {
        /* width: 100%; */
        width: 100%;
    }

    .busk_inthe_sun {
        width: 90%;
        margin: 20px auto;
        border-radius: 10px;
    }

    .sd_one {
        left: -21%;
        top: 13%;
    }

    .leftside_perfect {
        width: 35%;
        margin: auto;
    }

    .rightside_img_perfect {
        width: 52%;
        margin: auto;

    }

    .rightside_img_perfect img {
        width: 100%;
    }

    .perfect_content input {
        width: 93%;
    }

    .client {
        width: 90%;
        margin: auto;
    }

    .get_lost {
        width: 90%;
        margin: auto;
    }
}

.hide {
    display: none;
}